@use '../../utils';
@use 'sass:list';
// @use "./../../var";
// @use "./../../typo";

@function -valid-typography($typography) {
    @return $typography != null and list.length($typography) > 0;
}

@mixin -make-typo($selector, $props) {
    @if -valid-typography($props) {
        #{$selector} {
            @include utils.map-to-css-properties($props);
        }
    }
}

@mixin create-basic-styles($typographies) {
    $h1: utils.filter-props(utils.get-nested($typographies, "heading/h1"));
    $h2: utils.filter-props(utils.get-nested($typographies, "heading/h2"));
    $h3: utils.filter-props(utils.get-nested($typographies, "heading/h3"));
    $h4: utils.filter-props(utils.get-nested($typographies, "heading/h4"));
    $h5: utils.filter-props(utils.get-nested($typographies, "heading/h5"));
    $h6: utils.filter-props(utils.get-nested($typographies, "heading/h6"));
    $text: utils.filter-props(utils.get-nested($typographies, "text"));

    // @if -valid-typography($h1) {
    //     h1 {
    //         @include utils.map-to-css-properties($h1);
    //     }
    // }
    

    // html,
    // body {
    //     // base typography
    //     @include -make-typo("body", $text);

    //     background-color: color.get('background');
    //     min-height: 100%;
    //     // color: color.get('text');
    // }
    
    // html {
        
    //     body {
    //         blockquote {
    //             padding-left: 1rem;
    //             margin-bottom: 1rem;
    //         }
    
    //         pre {
    //             // estas variables no están definidas
    //             // pero las dejo para que se puedan definir
    //             // por afuera
    //             background-color: var(--pre-bg);
    //             color: var(--pre-color);
    //             padding: var(--pre-padding, .5rem);
    //             line-height: var(--pre-height, 1.25);
    //             overflow-x: var(--pre-overflow-x, scroll);
    //         }
            
    //         a,
    //         a:visited {
    //             &:not([role='button']) {
    //                 color: color.get(primary);
    //             }                
    //         }
            
    //         a:hover,
    //         a:focus,
    //         a:active {
    //             color: color.get(secondary);
    //         }
            
    //         img,
    //         canvas,
    //         iframe,
    //         video,
    //         svg,
    //         select,
    //         textarea {
    //             max-width: 100%;
    //         }
    
    //         small { @include typo.typography('base/small'); }
    //         p { margin-bottom: 1rem; }
            
    //         h1 { @include typo.typography('h1'); }
    //         h2 { @include typo.typography('h2'); }
    //         h3 { @include typo.typography('h3'); }
    //         h4 { @include typo.typography('h4'); }
    //         h5 { @include typo.typography('h5'); }
    //         h6 { @include typo.typography('h6'); }
    //     }
    // }
}
