@use 'sass:map';
@use 'sass:meta';
@use 'sass:list';
@use 'sass:string';
@use '../utils';
@use 'css-vars';
@use 'theme/prebuilt';
@use 'reboot';
@use 'basic';
@use 'utilities';

$_default_theme: prebuilt.$theme;
$_colors-list: ();
$colors: ();
$color-options: ();
$typos-with-inheritance: ();

@function get-colors() {
    @return $_colors-list;
}

@function get-typographies() {
    @return $typos-with-inheritance;
}

@mixin create-theme(
    $theme: $_default_theme, 
    $as-default: false, 
    $merge-with-prebuilt: true, 
    $fg-var-name: null, 
    $bg-var-name: null
) {
    @if $merge-with-prebuilt {
        $theme: map.deep-merge($_default_theme, $theme);
    }

    $colors: map.get($theme, "colors") !global;
    $variables: map.get($theme, "variables");
    $typographies: map.get($theme, "typographies");
    $color-options: (
        "fg-var-name": $fg-var-name,
        "bg-var-name": $bg-var-name,
    ) !global;

    $_colors-list: utils.get-keys($colors) !global;

    // if $as-default is true, then the theme is set as default, over the :root element
    // otherwise, the theme is set as an attribute of the html element
    @if $as-default {
        :root {
            // process typography inheritance
            $typos-with-inheritance: utils.inherit-properties($typographies, null) !global;
            @include css-vars.create-css-variables($colors, $variables, $typos-with-inheritance, $color-options);

            // ya no uso mas el prebuilt, uso el theme default :)
            $_default_theme: $theme !global;
        }
    } @else {
        html[theme="#{map.get($theme, name)}"] {
            @include css-vars.create-css-variables($colors, $variables, $typographies, $options);
        }
    }
}

@mixin create-default-styles($reboot, $basic, $color-utilities, $typography-utilities) {
    // reboot default styles
    @if $reboot {
        @include reboot.create-reboot-styles;
    }

    // common styles
    @if $basic {
        @include basic.create-basic-styles(get-typographies(), $colors, $color-options);
    }
    
    // color utility classes
    @if $color-utilities {
        @include utilities.create-color-utilities(get-colors());
    }

    // typography utility classes
    @if $typography-utilities {
        @include utilities.create-typography-utilities(get-typographies());
    }    
}
