:root {
  --v-m_size_1x: 100px;
  --v-m_size_2x: 200px;
  --v-m_size_3x: 300px;
  --v-m_size_4x: 400px;
  --v-m_size_5x: 500px;
  --v-m_size_6x: 600px;
  --v-m_size_6\.5x: 650px;
  --t-headings_display_family: Outfit;
  --t-headings_display_weight: 600;
  --t-headings_display_size: 5rem;
  --t-headings_display_line-height: 5.5rem;
  --t-headings_display_letter-spacing: -0.125rem;
  --t-headings_h1_family: Outfit;
  --t-headings_h1_weight: 600;
  --t-headings_h1_size: 3.5rem;
  --t-headings_h1_line-height: 4.375rem;
  --t-headings_h1_letter-spacing: -0.063rem;
  --t-headings_h2_family: Outfit;
  --t-headings_h2_weight: 700;
  --t-headings_h2_size: 2.813rem;
  --t-headings_h2_line-height: 3.25rem;
  --t-headings_h2_letter-spacing: normal;
  --t-texts_family: Inter;
  --t-texts_size: 16px;
  --t-texts_weight: 400;
  --t-texts_line-height: 1.5rem;
  --t-texts_letter-spacing: 0.031rem;
  --t-texts_bold_family: Inter;
  --t-texts_bold_size: 16px;
  --t-texts_bold_weight: 600;
  --t-texts_bold_line-height: 1.5rem;
  --t-texts_bold_letter-spacing: 0.031rem;
  --t-texts_xl_family: Inter;
  --t-texts_xl_size: 1.5rem;
  --t-texts_xl_weight: 400;
  --t-texts_xl_line-height: 1.875rem;
  --t-texts_xl_letter-spacing: 0rem;
  --t-texts_xl_bold_family: Inter;
  --t-texts_xl_bold_size: 1.5rem;
  --t-texts_xl_bold_weight: 600;
  --t-texts_xl_bold_line-height: 1.875rem;
  --t-texts_xl_bold_letter-spacing: 0rem;
  --c-background: white;
  --c-background-rgb: 255, 255, 255;
  --c-background-c: blue;
  --c-background-c-rgb: 0, 0, 255;
  --c-primary: yellow;
  --c-primary-rgb: 255, 255, 0;
  --c-primary-c: blue;
  --c-primary-c-rgb: 0, 0, 255;
  --c-secondary: blueviolet;
  --c-secondary-rgb: 138, 43, 226;
  --c-secondary-c: white;
  --c-secondary-c-rgb: 255, 255, 255;
  --c-primary-20\%: rgba(255, 255, 0, 0.2);
  --c-primary-20\%-rgb: 255, 255, 0;
  --c-primary-20\%-c: white;
  --c-primary-20\%-c-rgb: 255, 255, 255;
  --c-text_primary: black;
  --c-text_primary-rgb: 0, 0, 0;
  --c-text_primary-c: white;
  --c-text_primary-c-rgb: 255, 255, 255;
  --c-text_secondary: blue;
  --c-text_secondary-rgb: 0, 0, 255;
  --c-text_secondary-c: white;
  --c-text_secondary-c-rgb: 255, 255, 255;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--c-text) !important;
}

/* The new CSS reset - version 1.8.4 (last updated 14.2.2023) GitHub page: https://github.com/elad2412/the-new-css-reset */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a, button {
  cursor: revert;
}

ol, ul, menu {
  list-style: none;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input, textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

:where(pre) {
  all: revert;
}

::placeholder {
  color: unset;
}

::marker {
  content: initial;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable="true"]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
}