:root {
  --v-m_size_1x: 100px;
  --v-m_size_2x: 200px;
  --v-m_size_3x: 300px;
  --v-m_size_4x: 400px;
  --v-m_size_5x: 500px;
  --v-m_size_6x: 600px;
  --v-m_size_6\.5x: 650px;
  --t-heading_display_family: Outfit;
  --t-heading_display_weight: 600;
  --t-heading_display_size: 5rem;
  --t-heading_display_line-height: 5.5rem;
  --t-heading_display_letter-spacing: -0.125rem;
  --t-heading_h1_family: Outfit;
  --t-heading_h1_weight: 600;
  --t-heading_h1_size: 3.5rem;
  --t-heading_h1_line-height: 4.375rem;
  --t-heading_h1_letter-spacing: -0.063rem;
  --t-heading_h2_family: Outfit;
  --t-heading_h2_weight: 700;
  --t-heading_h2_size: 2.813rem;
  --t-heading_h2_line-height: 3.25rem;
  --t-heading_h2_letter-spacing: normal;
  --t-text_family: Inter;
  --t-text_size: 16px;
  --t-text_weight: 400;
  --t-text_line-height: 1.5rem;
  --t-text_letter-spacing: 0.031rem;
  --t-text_bold_family: Inter;
  --t-text_bold_size: 16px;
  --t-text_bold_weight: 600;
  --t-text_bold_line-height: 1.5rem;
  --t-text_bold_letter-spacing: 0.031rem;
  --t-text_xl_family: Inter;
  --t-text_xl_size: 1.5rem;
  --t-text_xl_weight: 400;
  --t-text_xl_line-height: 1.875rem;
  --t-text_xl_letter-spacing: 0rem;
  --t-text_xl_bold_family: Inter;
  --t-text_xl_bold_size: 1.5rem;
  --t-text_xl_bold_weight: 600;
  --t-text_xl_bold_line-height: 1.875rem;
  --t-text_xl_bold_letter-spacing: 0rem;
  --t-text_sm_family: Inter;
  --t-text_sm_size: 0.875rem;
  --t-text_sm_weight: 400;
  --t-text_sm_line-height: 1.5rem;
  --t-text_sm_letter-spacing: 0.031rem;
  --c-background: white;
  --c-background-rgb: 255, 255, 255;
  --c-background-c: blue;
  --c-background-c-rgb: 0, 0, 255;
  --c-primary: yellow;
  --c-primary-rgb: 255, 255, 0;
  --c-primary-c: blue;
  --c-primary-c-rgb: 0, 0, 255;
  --c-secondary: blueviolet;
  --c-secondary-rgb: 138, 43, 226;
  --c-secondary-c: white;
  --c-secondary-c-rgb: 255, 255, 255;
  --c-primary-20\%: rgba(255, 255, 0, 0.2);
  --c-primary-20\%-rgb: 255, 255, 0;
  --c-primary-20\%-c: white;
  --c-primary-20\%-c-rgb: 255, 255, 255;
  --c-text_primary: black;
  --c-text_primary-rgb: 0, 0, 0;
  --c-text_primary-c: white;
  --c-text_primary-c-rgb: 255, 255, 255;
  --c-text_secondary: blue;
  --c-text_secondary-rgb: 0, 0, 255;
  --c-text_secondary-c: white;
  --c-text_secondary-c-rgb: 255, 255, 255;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--c-text) !important;
}

/* The new CSS reset - version 1.8.4 (last updated 14.2.2023) GitHub page: https://github.com/elad2412/the-new-css-reset */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a, button {
  cursor: revert;
}

ol, ul, menu {
  list-style: none;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input, textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

:where(pre) {
  all: revert;
}

::placeholder {
  color: unset;
}

::marker {
  content: initial;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable="true"]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
}

/* basic styles */
html,
body {
  font-family: var(--t-text_family);
  font-size: var(--t-text_size);
  font-weight: var(--t-text_weight);
  line-height: var(--t-text_line-height);
  letter-spacing: var(--t-text_letter-spacing);
  min-height: 100%;
  color: blue;
  background-color: white;
}

html body blockquote {
  padding-left: 1rem;
  margin-bottom: 1rem;
}
html body img,
html body canvas,
html body iframe,
html body video,
html body svg,
html body select,
html body textarea {
  max-width: 100%;
}
html body small {
  font-family: var(--t-text_sm_family);
  font-size: var(--t-text_sm_size);
  font-weight: var(--t-text_sm_weight);
  line-height: var(--t-text_sm_line-height);
  letter-spacing: var(--t-text_sm_letter-spacing);
}
html body p {
  margin-bottom: 1rem;
}
html body h1 {
  font-family: var(--t-heading_h1_family);
  font-weight: var(--t-heading_h1_weight);
  font-size: var(--t-heading_h1_size);
  line-height: var(--t-heading_h1_line-height);
  letter-spacing: var(--t-heading_h1_letter-spacing);
}
html body h2 {
  font-family: var(--t-heading_h2_family);
  font-weight: var(--t-heading_h2_weight);
  font-size: var(--t-heading_h2_size);
  line-height: var(--t-heading_h2_line-height);
  letter-spacing: var(--t-heading_h2_letter-spacing);
}
.bg-background {
  background-color: var(--c-background);
  color: var(--c-background-c);
}

.bg-background-contrast {
  background-color: var(--c-background-c);
  color: var(--c-background);
}

.color-background {
  color: var(--c-background);
}

.color-background-contrast {
  color: var(--c-background-c);
}

.bg-primary {
  background-color: var(--c-primary);
  color: var(--c-primary-c);
}

.bg-primary-contrast {
  background-color: var(--c-primary-c);
  color: var(--c-primary);
}

.color-primary {
  color: var(--c-primary);
}

.color-primary-contrast {
  color: var(--c-primary-c);
}

.bg-secondary {
  background-color: var(--c-secondary);
  color: var(--c-secondary-c);
}

.bg-secondary-contrast {
  background-color: var(--c-secondary-c);
  color: var(--c-secondary);
}

.color-secondary {
  color: var(--c-secondary);
}

.color-secondary-contrast {
  color: var(--c-secondary-c);
}

.bg-primary-20\% {
  background-color: var(--c-primary-20\%);
  color: var(--c-primary-20\%-c);
}

.bg-primary-20\%-contrast {
  background-color: var(--c-primary-20\%-c);
  color: var(--c-primary-20\%);
}

.color-primary-20\% {
  color: var(--c-primary-20\%);
}

.color-primary-20\%-contrast {
  color: var(--c-primary-20\%-c);
}

.bg-text-primary {
  background-color: var(--c-text_primary);
  color: var(--c-text_primary-c);
}

.bg-text-primary-contrast {
  background-color: var(--c-text_primary-c);
  color: var(--c-text_primary);
}

.color-text-primary {
  color: var(--c-text_primary);
}

.color-text-primary-contrast {
  color: var(--c-text_primary-c);
}

.bg-text-secondary {
  background-color: var(--c-text_secondary);
  color: var(--c-text_secondary-c);
}

.bg-text-secondary-contrast {
  background-color: var(--c-text_secondary-c);
  color: var(--c-text_secondary);
}

.color-text-secondary {
  color: var(--c-text_secondary);
}

.color-text-secondary-contrast {
  color: var(--c-text_secondary-c);
}

.typo-module-test {
  font-family: var(--t-heading_h1_family);
  font-weight: var(--t-heading_h1_weight);
  font-size: var(--t-heading_h1_size);
  line-height: var(--t-heading_h1_line-height);
  letter-spacing: var(--t-heading_h1_letter-spacing);
}